extends ../layout

block content
  .container
    .row
      .page-header
        h1= title
      form.form-horizontal(method="post",action="/admin/movie/new")
        input(type="hidden",name="_id",value="#{movie._id}")
        .form-group
          label.col-sm-2.control-label(for="douban") 豆瓣同步
          .col-sm-3
            input#douban.form-control(type="text",name="douban",placeholder="请输入豆瓣电影ID")
          button#getDouban.btn.btn-primary(type="button") 同步数据
        .form-group
          label.col-sm-2.control-label(for="inputTitle") 电影名字
          .col-sm-10
            input#inputTitle.form-control(type="text",name="title",value="#{movie.title}")
        .form-group
          label.col-sm-2.control-label(for="inputDoctor") 电影导演
          .col-sm-10
            input#inputDoctor.form-control(type="text",name="doctor",value="#{movie.doctor}")
        .form-group
          label.col-sm-2.control-label(for="inputCountry") 国家
          .col-sm-10
            input#inputCountry.form-control(type="text",name="country",value="#{movie.country}")
        .form-group
          label.col-sm-2.control-label(for="inputLanguage") 语种
          .col-sm-10
            input#inputLanguage.form-control(type="text",name="language",value="#{movie.language}")
        .form-group
          label.col-sm-2.control-label(for="selectCatetory") 类型
          .col-sm-10
            input.form-control(type="hidden",name="oldCatetory",value="#{movie.catetory}")
            select#selectCatetory.form-control(name="catetory")
              if movie.catetory
                each cat in catetories
                  if cat.name == movie.catetory
                    option(selected="seclected") #{cat.name}
                  else
                    option #{cat.name}
              else
                option 
                each cat in catetories
                  option #{cat.name}
              option  其他
        .form-group(style="display:none;")
          label.col-sm-2.control-label(for="otherCatetory") 其他类型
          .col-sm-10
            input#otherCatetory.form-control(type="text",name="otherCatetory",placeholder="请输入自定义电影类型")
        .form-group
          label.col-sm-2.control-label(for="inputPoster") 海报地址
          .col-sm-10
            input#inputPoster.form-control(type="text",name="poster",value="#{movie.poster}")
        .form-group
          label.col-sm-2.control-label(for="inputFlash") 片源地址
          .col-sm-10
            input#inputFlash.form-control(type="text",name="flash",value="#{movie.flash}") 
        .form-group
          label.col-sm-2.control-label(for="inputYear") 上映年代
          .col-sm-10
            input#inputYear.form-control(type="text",name="year",value="#{movie.year}")
        .form-group
          label.col-sm-2.control-label(for="inputSummary") 电影简介
          .col-sm-10
            textarea#inputSummary.form-control(type="text",name="summary") #{movie.summary}
        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") 录入

  script(src="/javascripts/admin.js",type="text/javascript")